<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <link href="{% static './PageSetup/style.css'%}" rel="stylesheet">
      <link  href="{% static './TopNavbar/style.css'%}" rel="stylesheet"/>
      <link href="{% static './SideNavbar/style.css'%}" rel="stylesheet"/>
      <link href="{% static './Footer/style.css'%}" rel="stylesheet"/>
      <!--Page Title-->
      <title>DIGITAL SCHOOL</title>
  </head>
  <body>


    <!--Navbar menu-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!--Navbar digital school anchor-->
      <!-- <a class="navbar-brand" href="{% url 'after_login_url' %/}">Digital School</a> -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav mr-auto">

          
      </ul>  -->

        <!--Search Engine-->
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left:3px"><a href="{% url "logout" %}">Search</a></button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left:3px"><a href="{% url "logout" %}">Logout</a></button>
        </form> -->

    {% comment %} {% include 'MainExtended/TopNavbar.html' %} {% endcomment %}
    {% include 'MainExtended/TopNav.html' %}
    {% comment %} <div class="container"> {% endcomment %}
      <div class='side-block'>
        {% include 'MainExtended/SideNavbar.html' %}

      </div>
      <div class='data'>
        <div class="col">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
      {% include 'MainExtended/Footer.html' %}
  </body>

</html>