<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--bootstrap file "relation stylesheet"-->
        <link rel="stylesheet" type="text/css" href="{% static './assets/css/bootstrap1.css' %}" />

        <!--Page Title-->
        <title>DIGITAL SCHOOL</title>
    </head>
    <body>

        <!--Navbar menu-->
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url "after_login_url" %}">Digital School</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Students
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "gr_list" %}">Gr List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "usertype_url" %}">Users Type List</a>
                        <a class="dropdown-item" href="{% url "userprofilelist_url" %}">Users Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        Query
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'list_view' %}">Query list</a>
                        <a class="dropdown-item" href="{% url 'entry_form' %}">Add Query</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                        Dependencies
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'class_list' %}">Classes</a>
                        <a class="dropdown-item" href="{% url 'school_list' %}">Schools</a>
                        <a class="dropdown-item" href="{% url 'family_list' %}">Families</a>
                        <a class="dropdown-item" href="{% url "fee_concession_list" %}">Fee Concession</a>
                        <a class="dropdown-item" href="{% url "section_list" %}">Sections</a>
                        <a class="dropdown-item" href="{% url "session_list" %}">Sessions</a>
                        <a class="dropdown-item" href="{% url "religion_list" %}">Religions</a>
                        <a class="dropdown-item" href="{% url "subject_list" %}">Subjects</a>
                        <a class="dropdown-item" href="{% url "class_subject_list" %}">Class_Subjects</a>
                        <a class="dropdown-item" href="{% url "fee_type_list" %}">Fee_Types</a>
                        <a class="dropdown-item" href="{% url "month_list" %}">Months</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exam
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "exam_form" %}">Exam</a>
                        <div class="dropdown-divider"></div>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fees
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'class_fee_list' %}">Class Fees</a>
                        <a class="dropdown-item" href="{% url 'fee_def_list' %}">Student Fees Define</a>
                        <a class="dropdown-item" href="{% url 'fee_reg_list' %}">Fees Register</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Homework
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'home_work_listWise' %}">Homework</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sms
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'sms_create' %}">Create Sms</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left:3px"><a href="{% url "logout" %}">Logout</a></button>
                  </form>
                </div>
              </nav>
              
        <!--Main-Containt-->
              {% block content %}
                <h1 class="text-center p-3 mb-2 bg-light text-dark">Main Page</h1>
              {% endblock %}
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              

        <!--Footer-->
                <div class="container-fluid text-light bg-dark">
                  <p class="text-center ">Recommended</p>
                  <div class="text-center" style="margin:20px 0px">
                    <img src="{% static './assets/images/social-1.png' %}" alt="facebook-image" class="rounded-circle"/>
                    <img src="{% static './assets/images/social-2.png' %}" alt="youtube-image" class="rounded-circle"/>
                    <img src="{% static './assets/images/social-3.png' %}" alt="twitter-image" class="rounded-circle"/>
                  </div>
                  <div class="text-center" style="margin:10px 0px">
                    <a class="btn btn-outline-success" href="#">team</a>
                    <a class="btn btn-outline-success" href="#">about</a>
                    <a class="btn btn-outline-success" href="#">contact</a>
                  </div>
                  <div class="text-center">
                    <p>© 2020 DIGITAL SCHOOL. All Rights Reserved</p>
                    <p>Terms of Use Privacy Policy</p>
                    <p>Design By: <span>Our Team</span></p>
                  </div>
                </div>
        <script src="{% static './assets/js/jquery.js' %}"></script>
        <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    </body>
</html>