{% extends 'MainPage.html' %}
    {% block content %}

    
<div class="container">
    <h2 class="text-center" style="font-family:sans-serif;">Religions</h2><hr/>
    <table class="table table-hover table-sm table-dark">
      <caption>Religions</caption>
    <thead>
    <tr align="center">
    <th>Religion Code</th>
    <th>Religion</th>
    </tr>
  </thead>
  <tbody>
    {% for e in religion %}
    <tr align="center">
      <td>{{e.religion_code}}</td>
      <td>{{e.religion}}</td>
      <td><a href="{% url 'edit_religion' religion_code=e.religion_code %}">Edit</a></td>
      <td><a href="{% url 'delete_religion' religion_code=e.religion_code %}">Delete</a></td>

    </tr>
    {% endfor %}
  </tbody>
    </table>
    <a href="{% url 'religion_form' %}">Add</a>
  </div>
    {% endblock %}