{% extends 'MainPage.html' %}
    {% block content %}

<div class="container">
    <h2 class="text-center" style="font-family:sans-serif;">Questions</h2><hr/>
    <table class="table table-hover table-sm table-dark">
      <caption>Questions</caption>
      <thead>
        <tr>
          <th>Question</th>
          <th>Classes</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        {% for qb in question_bank %}
          <tr>
            <td><a href="{{ qb.get_absolute_url }}">{{qb.question}}</a></td>
            <td>{{qb.classes}}</td>
            <td>{{qb.subject}}</td>
            <td><a href="{% url 'edit_question_bank' question_code=qb.question_code %}">Edit</a></td>
            <td><a href="{% url 'delete_question_bank' question_code=qb.question_code %}">Delete</a></td>
            <td><a href="{% url 'question_bank_detail' question_code=qb.question_code %}">Details</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'question_bank_form' %}">Add</a>
  </div>
  <div class = "col">
    <div class = "card card-body">
      <form action="{% url 'question_bank_filter' %}" method="POST">
        {% csrf_token %}
          <a>Subject = {{ myFilter.subject }}</a><br><br>
          <a>Class = {{ myFilter.classes }}</a><br><br>
          <a>Book = {{ myFilter.book }}</a><br><br>
          <a>Chapter = {{ myFilter.chapter }}</a><br><br>
          <a>Question Type = {{ myFilter.question_type }}</a><br><br>
          <a>From = {{ myFilter.questions_from }}</a><br><br>
          <a>Quantity = <input name="qty"></input><br><br>
          <input type ="submit" value="Search"/>
      </form>
    </div>
  </div>
    {% endblock %}