{% extends 'MainPage.html' %}
    {% block content %}

    
<div class="container">
    <h2 class="text-center" style="font-family:sans-serif;">Families</h2><hr/>
    <table class="table table-hover table-sm table-dark">
      <caption>Families</caption>
    <thead>
    <tr align="center">
    <th>Family Code</th>
    <th>Surname</th>
    <th>Father Name</th>
    <th>Father's <br>Contact No</th>
    <th>Mother Name</th>
    <th>Mother's <br>Contact No</th>
    <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {% for fami in fami %}
    <tr align="center">
      <td>{{fami.family_code}}</td>
      <td>{{fami.surname}}</td>
      <td>{{fami.father_name}}</td>
      <td>{{fami.ph_no_father}}</td>
      <td>{{fami.mother_name}}</td>
      <td>{{fami.ph_no_mother}}</td>
      <td>{{fami.address}}</td>
      <td><a href="">Edit</a></td>
      <td><a href="">Delete</a></td>

    </tr>
    {% endfor %}
  </tbody>
    </table>
    <a href="{% url 'family_form' %}">Add</a>
  </div>
    {% endblock %}