{% extends "MainPage.html" %}
{% block content %}
<form method="POST">
    <div class="container">
        <h2 class="text-center" style="font-family:sans-serif;">Fees Register Add Form</h2><hr/>
        <table class="table table-hover table-sm table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Form</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Class</th>
                    <th>{{ a.class_code }}</th>
                </tr>
                <tr>
                    <th>Fee Type</th>
                    <th><a>{{ b.fee_type_code }}</a></th>
                </tr>
                <tr>
                    <th>Month</th>
                    <th>{{ c.month }}</th>
                </tr>
                <tr>
                    <th>Due Date</th>
                    <th><a><input type='date'></input></a></th>
                </tr>
                <tr>
                    <td>Submit</td>
                    <td><input class="btn btn-primary" type="submit" value="Add to Fee Register"></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% csrf_token %}
</form>

{% endblock %}