{% extends 'MainPage.html' %}
    {% block content %}

    
<div class="container">
    <h2 class="text-center" style="font-family:sans-serif;">Cities</h2><hr/>
    <table class="table table-hover table-sm table-dark">
      <caption>Cities</caption>
    <thead>
    <tr>
    <th>Cities</th>
    </tr>
  </thead>
  <tbody>
    {% for z in city %}
    <tr>
      <td>{{z.cities}}</td>

      
    </tr>
    {% endfor %}
  </tbody>
    </table>
<a class="btn btn-primary" href="{% url "city_form" %}">Add</a>    
<a class="btn btn-primary" href="{% url "city_downloadt" %}">Download CSV Formate</a>   
</div>
    {% endblock %}