{% extends 'MainPage.html' %}
    {% block content %}

    
<div class="container">
    <h2 class="text-center" style="font-family:sans-serif;">Fee Categories</h2><hr/>
    <table class="table table-hover table-sm table-dark">
      <caption>Fee Categories</caption>
    <thead>
    <tr align="center">
    <th>Fee Category Code</th>
    <th>Fee Category Name</th>
    <th>Percent</th>
    <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for b in fees %}
    <tr align="center">
      <td>{{b.fee_category_code}}</td>
      <td>{{b.fee_category_name}}</td>
      <td>{{b.percent}}</td>
      <td>{{b.amount}}</td>
      <td><a href="{% url 'edit_fee_category' fee_category_code=b.fee_category_code %}">Edit</a></td>
      <td><a href="{% url 'delete_fee_category' fee_category_code=b.fee_category_code %}">Delete</a></td>

    </tr>
    {% endfor %}
  </tbody>
    </table>
    <a href="{% url 'fee_category_form' %}">Add</a>
  </div>
    {% endblock %}