{% extends "Mainpage.html" %}
{% block content %}
<div class="container">
    
     <h1><caption>Details Of Class Subjects</caption></h1>
        <table class="table table-hover table-sm table-dark">
              <tbody>
                <tr>
                    <th>Classes</th>
                    <th>{{ class_subject.Class }}</th>
                </tr>
                <tr>
                    <th>Subjects</th>
                    <th>{{ class_subject.class_subjects }}</th>
                </tr>
              </tbody>
        </table>
  <a class="btn btn-primary" href="{% url "class_subject_form" %}">Add</a>
</div>
{% endblock %}