{% extends "MainPage.html" %}
{% block content %}
<h1>Here Are All Gr Numbers In List Form</h1>
<h3>
<table>
{% for gr in GrNumber %}
<li {% if GrNumber.gr_number == gr.gr_number %}class="selected"{% endif %}>
<th><tr><a href="{{ gr.get_absolute_url }}">{{ gr.gr_number }} </a></tr></th>
<th><tr><a href="{{ gr.get_absolute_url }}">{{gr.name}}</a></tr></th>
<th><tr><img src="{% if gr.picture %}{{ gr.picture.url }}{% endif %}" /></tr></th>
<th><tr><a href="{{ gr.get_absolute_url }}">{{gr.family_code}}</a></tr></th>
<th><tr><a href="{{ gr.get_absolute_url }}">{{gr.current_class}}</a></tr></th>
</li>
{% endfor %}
</table>
</h3>
{% endblock %}
