{% extends 'Mainpage.html' %}
{% block content %}
     <div class="container">
        <form action="{% url 'entry_form' %}" method="POST">
        <h4 class="text-center">Edit Query</h4>
        <hr/> 
            {% for field in form %}
            <div class="form-group row">
                <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
                <div class="col-10">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            {% csrf_token %}
        </form>
     <br/><br/>
    </div>  
    {% endblock %}