<html>
<body>
<div class="container">
    <h2 align="center">View All Queries</h2><hr/>
    <table class="table table-hover table-sm table-dark">
        <tr align="center">
            <th>Name</th>
            <th>Father Name</th>
            <th>Gender</th>
            <th>Contact</th>
        </tr>
        {% for i in data %}
        <tr align="center">
            <td>{{ i.Name }}</td>
            <td>{{ i.father_name }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.Contact }}</td><br>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>