{% extends 'MainPage.html' %}
    {% block content %}

    
<div class="container">
    <h2 class="text-center" style="font-family:sans-serif;">Classes</h2><hr/>
    <table class="table table-hover table-sm table-dark">
      <caption>Classes</caption>
    <thead>
    <tr>
    <th>Class Name</th>
    <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    {% for i in Class %}
    <tr>
      <td>{{i.class_name}}</td>
      <td>{{i.remarks}}</td>
      <td><a href="{% url 'edit_class' class_code=i.class_code %}">Edit</a></td>
      <td><a href="{% url 'delete_class' class_code=i.class_code %}">Delete</a></td>

      
    </tr>
    {% endfor %}
  </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'class_form' %}">Add</a>    
    <a class="btn btn-primary" href="{% url 'class_download' %}">Download CSV Format</a>

  </div>
    {% endblock %}