{% extends 'MainPage.html' %}

{% block content %}
<h1>Add Fee Type</h1>
<form action ="{% url 'fee_type_form' %}" method = "POST">
<a>Fee Type = {{user_form.fee_type}}</a><br><br>
<a>Description= {{user_form.description}}</a><br><br>
{% csrf_token %}
<input class="btn btn-primary" type ="submit" value="Save and Add Another">
 <a class="btn btn-primary" href="{% url 'fee_type_list' %}">Back</a>
 <a class="btn btn-primary" href="{% url 'fee_type_upload' %}">Add CSV file</a>

</form>
{% endblock %}