<!DOCTYPE html>
{% extends "MainPage.html" %}
    {% block content %}
        
        <h1>Home Work</h1>
        
        <div class="form-group">
            {% if message %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        <div class="alert-success"> {{ message }} </div>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <form action="{% url 'homeWork_add' %}" method="POST">

            <a>Home Work = {{form.homework_ID }}</a><br><br>
            <a>Class = {{form.classes }}</a><br><br>
            <a>Class Section = {{form.sections }}</a><br><br>
            <a>Teacher Name = {{form.teacher }}</a><br><br>
            <a>Subject Name= {{form.subjects }}</a><br><br>
            <a>Chapter Name = {{form.chapter }}</a><br><br>
            <a>Page Number = {{form.page }}</a><br><br>
            <a>Descriptions = {{form.descriptions }}</a><br><br>
            <a>Date = {{form.date }}</a><br><br>
            
            {% csrf_token %}
        
            <input type="submit" value="Add HomeWork">

        </form>
    {% endblock %}