{% extends "MainPage.html" %}
{% block content %}
<form action="{% url "class_fee_create" %}" method="POST">
    <div class="container">
        <h2 class="text-center" style="font-family:sans-serif;">Class Fee Add Form</h2><hr/>
        <table class="table table-hover table-sm table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Form</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>class_fee_code</th>
                    <th>{{ user_form.class_fee_code }}</th>
                </tr>
                <tr>
                    <th>class_code</th>
                    <th>{{ user_form.class_code }}</th>
                </tr>
                <tr>
                    <th>fee_type_code</th>
                    <th>{{ user_form.fee_type_code }}</th>
                </tr>
                <tr>
                    <th>fee_amount</th>
                    <th>{{ user_form.fee_amount }}</th>
                </tr>
                <tr>
                    <th>description</th>
                    <th>{{ user_form.description }}</th>
                </tr>
                <tr>
                    <td><input class="btn btn-primary" type="submit" value="Add to Class Fee"></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% csrf_token %}
</form>
{% endblock %}