<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>DIGITAL SCHOOL</title>
		
			<!-- R -->

			<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}" />
	
			<!--FontFamily-->
			
			<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700" rel="stylesheet" type="text/css">
	
			<!-- Bootstrap -->
	
			<link href="{% static 'assets/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	
			<!-- Style CSS -->
	
			<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	</head>
	
	<body>
			

		<!-- About Section -->

<section id="about" class="about-section section-padding gray-bg">

	<div class="container">

		<div class="section-title">

			<!-- top back button -->
			<div class="riz-anchor">
				<a href="#">Back</a>
			</div>

			<h2>About <span class="light-text">DIGITAL SCHOOL</span></h2>

			<div class="title-border-container">

				<div class="title-border"></div>

			</div>

		</div>



		<div class="row mt-70">



			<div class="col-md-6">

				<div class="post-desc">

					<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with: <br />

						The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content. <br />

						The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software. Today it's seen all around the web; on templates, websites, and stock designs. Use our generator to sometimes known, is dummy text used in laying out</p>

				</div><!-- /.post-desc -->

			</div><!-- /.col-md-6 -->



			<div class="col-md-6">

				<div class="post-img">

					<img class="img-responsive js-tilt" src="{% static 'assets/images/new.jpg' %}" alt="LOGO">

				</div><!-- /.post-img -->

			</div><!-- /.col-md-6 -->



		</div><!-- /.row -->

	</div><!-- /.container -->

</section>
		<!-- footer -->
		<div class="footer">
			<div class="footer-icons">
				<img src="{% static 'assets/images/fb.JPG' %}" alt="facebook"/>
				<img src="{% static 'assets/images/insta.JPG' %}" alt="instagram"/>
				<img src="{% static 'assets/images/twit.JPG' %}" alt="twitter"/>
			</div>
			<p>Recommended</p>
			<div class="footer-anchors">
				<a href="#">team</a>
				<a href="#">about</a>
				<a href="#">contact</a>
			</div>
			<div class="footer-text">
				<p>© 2020 DIGITAL SCHOOL. All Rights Reserved</p>
				<p>Terms of Use Privacy Policy</p>
				<p>Design By: <a href="#" class="team">Our Team</a></p>
			</div>
		</div>	

	</body>
</html>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1
		})
	</script>