<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>DIGITAL SCHOOL</title>
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>
		<h1>Detail</h1>
		<div class="footer">
			<div class="footer-icons">
				<img src="{% static 'assets/images/fb.JPG' %}" alt="facebook"/>
				<img src="{% static 'assets/images/insta.JPG' %}" alt="instagram"/>
				<img src="{% static 'assets/images/twit.JPG' %}" alt="twitter"/>
			</div>
			<p>Recommended</p>
			<div class="footer-anchors">
				<a href="#">team</a>
				<a href="#">about</a>
				<a href="#">contact</a>
			</div>
			<div class="footer-text">
				<p>© 2020 DIGITAL SCHOOL. All Rights Reserved</p>
				<p>Terms of Use Privacy Policy</p>
				<p>Design By: <a href="#" class="team">Our Team</a></p>
			</div>
		</div>
	</body>
</html>