{% extends 'MainPage.html' %}
    {% block content %}

    
<div class="container">
    <h2 class="text-center" style="font-family:sans-serif;">Schools</h2><hr/>
    <table class="table table-hover table-sm table-dark">
      <caption>Schools</caption>
    <thead>
    <tr>
    <th>School Code</th>
    <th>School Name</th>
    <th>School Area</th>
    <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    {% for j in school %}
    <tr>
      <td>{{j.school_code}}</td>
      <td>{{j.school_name}}</td>
      <td>{{j.school_area}}</td>
      <td>{{j.remarks}}</td>
      <td><a href="{% url 'edit_school' school_code=j.school_code %}">Edit</a></td>
      <td><a href="{% url 'delete_school' school_code=j.school_code %}">Delete</a></td>

    </tr>
    {% endfor %}
  </tbody>
    </table>
    <a href="{% url 'school_form' %}">Add</a>
  </div>
    {% endblock %}