{% extends 'MainPage.html' %}

{% block content %}
<h1>Add School</h1>
<form action ="{% url 'school_form' %}" method = "POST">
<a>School Name = {{user_form.school_name}}</a><br><br>
<a>School Area = {{user_form.school_area}}</a><br><br>
<a>Remarks = {{user_form.remarks}}</a><br><br>
{% csrf_token %}
<input class="btn btn-primary" type ="submit" value="Save and Add Another">
 <a class="btn btn-primary" href="{% url 'school_list' %}">Back</a>
 <a class="btn btn-primary" href="{% url 'school_upload' %}">Add CSV file</a>

</form>
{% endblock %}