{% extends 'MainPage.html' %}
    {% block content %}

    
<div class="container">
    <h2 class="text-center" style="font-family:sans-serif;">Subjects</h2><hr/>
    <table class="table table-hover table-sm table-dark">
      <caption>Subjects</caption>
    <thead>
    <tr align="center">
    <th>Subjects</th>
    </tr>
  </thead>
  <tbody>
    {% for w in subject %}
    <tr align="center">
      <td>{{w.subjects}}</td>
      <td><a href="{% url 'edit_subject' subject_code=w.subject_code %}">Edit</a></td>
      <td><a href="{% url 'delete_subject' subject_code=w.subject_code %}">Delete</a></td>

    </tr>
    {% endfor %}
  </tbody>
    </table>
    <button ><a href="{% url 'subject_form' %}">Add</a></button>    
    <button ><a href="{% url 'subject_download' %}">Download CSV Format</a></button> 
  </div>
    {% endblock %}