<html>
<body>
<div class="container">
        <table class="table table-hover table-sm table-dark">
            <thead align="center">
                <tr>
                    <th>Gr</th>
                    <th>Class</th>
                    <th>Sect</th>
                    <th>Subj</th>
                    <th>Exam</th>
                    <th>Sem</th>
                    <th>SemBr</th>
                    <th>Qua</th>
                    <th>Asses</th>
                    <th>Tom</th>
                    <th>Obm</th>
                </tr>
            </thead>
            {% for v in data %}
            <tbody align="center">
                <tr>
                    {% for i in v %}
                        <th>{{ i }}</th>
                    {% endfor %}
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</body>
</html>